/* mixin */
@mixin dot-border {
    border-top: 1px dotted black;
    border-bottom: 2px dotted black;
}
@mixin btn($boarderRadius, $backgroundColor) {
    border-radius: $boarderRadius;
    background-color: $backgroundColor;
    border: none;
    padding: 0.5em;
    cursor: pointer;

    &:hover {
        background-color: darken($backgroundColor, 10%);
    }
}