@import "colors", "mixins", "nav";

@function goldenRatioUp($start, $times: 1) {
    $result : $start;
    @for $_ from 1 through $times {
        $result: $result * 1.518033989;
    }
    @return $result;
}

h1 {
    @include dot-border;
    color: $accentColor;
    font-size: goldenRatioUp(1,4) * 1em;
    &:hover {
        color: pink;
    }
}
img {
    max-width: 100%;
}
.products {
    display: flex;
    flex-wrap: wrap;

    article {
        flex: 1;

        @media screen and (max-width: 600px) {
            flex-basis: 100%;
        }
    }
}
.btn-value {
    @include btn(0.5em, $accentColor);
    display: flex;
    margin: auto;
}
.btn-best-value {
    @extend .btn-value;
    padding: 0.5em 2em;
}