/* Imported fonts */

/* Prompt */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;700&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Alfa Slab One*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/* Kenya Coffee */

@font-face {
    font-family: 'Kenya Coffee';
    src: url('../fonts/kenyan coffee rg.ort') format('opentype');
}

/* ****************************************** */

/* Background colour */
body {
    background-color: #f5f5f7;
}

/* Viewport height for Header and center-container */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Font & colour */
.home-title, .btn {
    font-family: 'Prompt', sans-serif;
}

.home-title {
    font-weight: 'bold';
    color: #212121;
}

h2 {
    font-size: 1.7rem;
}

p {
    font-family: 'Merriweather', serif;
    color: #212121;
}

/* Button colour */
.btn {
    background-color: #212121;
    color: #f5f5f7;
}

.btn:hover {
    background-color: #f5f5f7;
    color: #212121;
}

.active {
    background-color: #f5f5f7;
    color: #212121;
}

/* Logo size */
.logo {
    width: 250px;
}

/* Title */
h1 {
    font-size: 1.7rem;
}

.home-title {
    text-align: center;
}

.card-title {
    font-family: 'Alfa Slab One';
    font-size: 1.5rem;
}

/* Container */
.home-container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Card */
.card {
    padding-bottom: 5rem;
    background-color: #f5f5f7;
    border: 0;
}

.card-title {
    text-align: center;
    font-size: 2rem;
}

.card-text {
    text-align: center;
    text-indent: 1rem !important;
}

/* Scroll-snap-stop */
.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    /* Hide scrollbar for IE, Edge, and Firefox  */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

.scroll-item {
    scroll-snap-align: start;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
}

/* FAQ, remove colouring to accordion */

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

/* Animations */
@-webkit-keyframes bounceFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes bounceFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
@-webkit-keyframes bounceFromRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
  
@keyframes bounceFromRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.bounceFromLeft,
.fadeIn,
.bounceFromRight {
    opacity: 0;
}  

@media (min-width: 991px) {

    .logo {
        width: 400px;
    }

    /* Container */
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-header {
        display: none;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card-title {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 2rem;
    }
}