/* Colors */ /* mixin */
nav ul {
  background-color: darkblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
nav li {
  padding: 0 0.5em;
}
nav li a {
  text-decoration: none;
  color: white;
}

h1 {
  border-top: 1px dotted black;
  border-bottom: 2px dotted black;
  color: orange;
  font-size: 5.3103846821em;
}
h1:hover {
  color: pink;
}

img {
  max-width: 100%;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 600px) {
  .products article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.btn-value, .btn-best-value {
  border-radius: 0.5em;
  background-color: orange;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.btn-value:hover, .btn-best-value:hover {
  background-color: #cc8400;
}

.btn-best-value {
  padding: 0.5em 2em;
}